* {
    box-sizing: border-box;
}
body {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
.calc {
    margin: auto;
    margin-top: 50px;
    width: 400px;
}
#grid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        'clear delete multiple divide'
        'seven eight nine add'
        'four five six substract'
        'one two three equal'
        'zero zero point equal';
    grid-gap: 10px 10px;

}

.btn {
    user-select: none;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    transition: background-image 0.07s;

}

.tapped {
    background-image: linear-gradient(to bottom, transparent, transparent 20%, rgba(0, 0, 0, 0.1));
}

.btn:hover {

    background-color: #eaeaea;

}

.window {
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    font-size: 3rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: rgb(255, 226, 188);
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    padding: 5px;
    text-align: end;
    overflow: hidden;
}
.history {
    font-weight: 300;
    height: 50px;
    font-size: 2rem;
    border-bottom: 1px solid rgba(255, 226, 188,0.5);
}
.input {
    padding-bottom: 10px;
}
#clear {
    grid-area: clear;
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

#clear:hover {
    background-color: #f17377;
}

#delete {
    grid-area: delete;
}

#multiple {
    grid-area: multiple;
}

#divide {
    grid-area: divide;
}

#substract {
    grid-area: substract;
}

#add {
    grid-area: add;
}

#equal {
    grid-area: equal;
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#equal:hover {
    background-color: #4e9ed4;
}

#point {
    grid-area: point;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}
